[Desktop Entry]
Name=SuperManager
Comment=Unified SSH key and VPN connection manager
Exec=supermgr
Icon=network-server
Terminal=false
Type=Application
Categories=Network;System;
Keywords=SSH;VPN;WireGuard;FortiGate;IPsec;Keys;
StartupNotify=true
